@model IEnumerable<SchoolLib.Models.Books.Book>
@using SchoolLib.Controllers

@{
    ViewData["Title"] = "Книжки";
    string ListPage = ViewData["type"].Equals("book") ? "_Books"
                    : ViewData["type"].Equals("stbook") ? "_StudyBooks"
                    : "_AdditionalBooks";
}

<h2>Книжки</h2>

<p>
    <a asp-controller="AdditionalBooks" asp-action="Create" asp-route-type="adbook" class="btn btn-default">Додати нову книжку</a>
    <a asp-controller="StudyBooks" asp-action="Create" asp-route-type="stbook" class="btn btn-default">Додати новий підручник</a>
</p>
<hr />
<form asp-controller="Book" asp-action="Index" method="post">
    <div>
        @Html.DropDownList("type", ViewData["bookTypesList"] as List<SelectListItem>)
        <input type="text" name="name" placeholder="Назва..." value="@ViewData["name"]" />
        <input type="text" name="author" placeholder="Автор..." value="@ViewData["author"]" />
        <input type="text" name="price" placeholder="Ціна..." value="@ViewData["price"]" />
        <input type="text" name="status" placeholder="Статус..." value="@ViewData["status"]" />
        <br /><br />
        <input type="submit" value="Пошук" />
    </div>
</form>
<div>
    @{await Html.RenderPartialAsync(ListPage, ViewData["books"]);}
</div>