@using SchoolLib.Models.Books
@model IEnumerable<Book>

@{
    ViewData["Title"] = "Книжки";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-controller="AdditionalBooks" asp-action="Create" class="btn btn-default">Додати нову книжку</a>
    <a asp-controller="StudyBooks" asp-action="Create" class="btn btn-default">Додати новий підручник</a>
    <a asp-controller="Inventories" asp-action="Index" class="btn btn-default">Інвентаризація книг</a>
    <a asp-controller="Provenances" asp-action="Index" class="btn btn-default">Походження книг</a>
</p>
<hr />
<div>
    @Html.DropDownList("type", ViewData["bookTypesList"] as List<SelectListItem>)
    <input type="number" id="id" placeholder="Інвентарний номер..."/>
    <input type="text" id="name" placeholder="Назва..."/>
    <input type="text" id="author" placeholder="Автор..."/>
    <input type="text" id="authorCipher" placeholder="Авторський шифр..."/>
    <input type="number" id="published" placeholder="Рік публікації..."/>
    <input type="text" id="price" placeholder="Ціна..."/>
    @*<input type="text" name="note" placeholder="Примітка..." value="@ViewData["note"]" />*@
    @Html.DropDownList("status", ViewData["bookStatusList"] as List<SelectListItem>)
    <br /><br />
    <input type="submit" id="submit" value="Пошук" />
</div>
<div id="results"></div>

@section Scripts {
    <script type="text/javascript">
            $(document).ready(function () {
        $('#submit').click(function (e) {
            e.preventDefault();
            var id = encodeURIComponent($('#id').val());
            var name = encodeURIComponent($('#name').val());
            var author = encodeURIComponent($('#author').val());
            var authorCipher = encodeURIComponent($('#authorCipher').val());
            var published = encodeURIComponent($('#published').val());
            var price = encodeURIComponent($('#price').val());
            var type = encodeURIComponent($('#type').val());
            var status = encodeURIComponent($('#status').val());

            $('#results').load('@Url.Action("Search")?type=' + type + '&id=' + id +
                '&name=' + name + '&author=' + author + '&authorCipher=' + authorCipher +
                '&published=' + published + '&price=' + price + '&status=' + status);
});
    });
</script>
}
