@model IEnumerable<SchoolLib.Models.People.Reader>

<table class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.SurName)</th>
            <th>@Html.DisplayNameFor(model => model.Patronimic)</th>
            @*<th>@Html.DisplayNameFor(model => model.Street)</th>
            <th>@Html.DisplayNameFor(model => model.House)</th>
            <th>@Html.DisplayNameFor(model => model.Apartment)</th>*@
            @*<th>@Html.DisplayNameFor(model => model.FirstRegistrationDate)</th>*@
            <th>@Html.DisplayNameFor(model => model.LastRegistrationDate)</th>
            <th>@Html.DisplayNameFor(model => model.Discriminator)</th>
            @*<th>@Html.DisplayNameFor(model => model.Note)</th>*@
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.SurName)</td>
            <td>@Html.DisplayFor(modelItem => item.Patronimic)</td>
            @*<td>@Html.DisplayFor(modelItem => item.Street)</td>
            <td>@Html.DisplayFor(modelItem => item.House)</td>
            <td>@Html.DisplayFor(modelItem => item.Apartment)</td>*@
            @*<td>@Html.DisplayFor(modelItem => item.FirstRegistrationDate)</td>*@
            <td>@Html.DisplayFor(modelItem => item.LastRegistrationDate)</td>
            <td>@(item.Discriminator == "Student" ? "Учень" : "Співробітник")</td>
            @*<td>@Html.DisplayFor(modelItem => item.Note)</td>*@
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
