@using SchoolLib.Models.People
@model IEnumerable<Reader>

@{
    ViewData["Title"] = "Читачі";
    string ListPage = $"_{ViewData["type"] as string}s";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-controller="Students" asp-action="Create" class="btn btn-default">Новий учень</a>
    <a asp-controller="Workers" asp-action="Create" class="btn btn-default">Новий співробітник</a>
    <a asp-controller="Drops" asp-action="Index" class="btn btn-default">Вибуття</a>
</p>
<hr />
<form asp-controller="Readers" asp-action="Index" method="post">
    <div>
        @Html.DropDownList("type", ViewData["readerTypeList"] as List<SelectListItem>)
        <input type="number" name="id" placeholder="Ідентифікаційний номер читача..." value="@ViewData["id"]" />
        <input type="text" name="firstName" placeholder="Ім'я..." value="@ViewData["firstName"]" />
        <input type="text" name="surName" placeholder="Призвіще..." value="@ViewData["surName"]" />
        <input type="text" name="patronimic" placeholder="По-батькові..." value="@ViewData["patronimic"]" />
        @*<input type="text" name="street" placeholder="Вулиця..." value="@ViewData["street"]" />
        <input type="text" name="house" placeholder="Будинок..." value="@ViewData["house"]" />
        <input type="number" name="apartment" placeholder="Квартира..." value="@ViewData["apartment"]" />
        <input type="text" name="firstRegDate" placeholder="Дата реєстрації..." value="@ViewData["firstRegDate"]" />*@
        <input type="text" name="lastRegDate" placeholder="Дата переєстрації..." value="@ViewData["lastRegDate"]" />
        @*<input type="text" name="note" placeholder="Примітка..." value="@ViewData["note"]" />*@
        @Html.DropDownList("status", ViewData["readerStatusList"] as List<SelectListItem>)
        <br /><br />
        <input type="submit" name="search" value="Пошук" />
        <input type="submit" name="activate" value="Активувати читачів" />
    </div>
</form>
<div>
    @{
        if (ListPage == "_Readers")
        {
            await Html.RenderPartialAsync(ListPage, Model);
        }
        else if (ListPage == "_Students")
        {
            await Html.RenderPartialAsync(ListPage, Model.Cast<Student>());
        }
        else
        {
            await Html.RenderPartialAsync(ListPage, Model.Cast<Worker>());
        }
    }
</div>
