@model AdditionalBook
@using SchoolLib.Models.Books

@{
    ViewData["Title"] = "Деталі";
}

<h2>Деталі</h2>

<div>
    <h4>Книга</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Інвентарний номер</dt>
        <dd>@Html.DisplayFor(model => model.InventoryNum)</dd>
        <dt>Назва</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>Автор</dt>
        <dd>@Html.DisplayFor(model => model.Author)</dd>
        <dt>Авторський шифр</dt>
        <dd>@Html.DisplayFor(model => model.AuthorCipher)</dd>
        <dt>Мова</dt>
        <dd>@Html.DisplayFor(model => model.Language)</dd>
        <dt>Шифр</dt>
        <dd>@Html.DisplayFor(model => model.Cipher)</dd>
        <dt>Рік публікації</dt>
        <dd>@Html.DisplayFor(model => model.Published)</dd>
        <dt>Ціна</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>
        <dt>Примітка</dt>
        <dd>@Html.DisplayFor(model => model.Note)</dd>
        <dt>Статус</dt>
        <dd>@(Model.Status == BookStatus.InStock ? "В наявності" : "На руках")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a> |
    <a asp-controller="Books" asp-action="Index">Повернутися до списку</a>
</div>
