@using SchoolLib.Models.Books
@using SchoolLib.Models.People
@model Issuance

@{
	ViewData["Title"] = "Видача книги";
	var reader = ViewBag.Reader as Reader;
    var book = ViewBag.Book as Book;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
	<div class="form-horizontal">
		<h4>@Html.DisplayNameFor(m => m)</h4>
		<hr/>
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="ReaderId" class="col-md-2 control-label"></label>*
			<div class="col-md-10">
				@if (reader != null && ViewBag.ReaderError == null)
				{
					<input asp-for="ReaderId" class="form-control" value="@reader.Id" readonly/>
				}
				else
				{
					<input asp-for="ReaderId" class="form-control"/>
				}
				<span asp-validation-for="ReaderId" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="BookId" class="col-md-2 control-label"></label>*
			<div class="col-md-10">
				@if (book != null && ViewBag.BookError == null)
				{
					<input asp-for="BookId" class="form-control" value="@book.Id" readonly/>
				}
				else
				{
					<input asp-for="BookId" class="form-control"/>
				}
				<span asp-validation-for="BookId" class="text-danger"></span>
			</div>
		</div>
		@if (reader != null)
		{
			<div class="form-group">
				<label asp-for="@reader.SurName" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="@reader.SurName" class="form-control" readonly/>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="@reader.FirstName" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="@reader.FirstName" class="form-control" readonly/>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="@reader.Patronimic" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="@reader.Patronimic" class="form-control" readonly/>
				</div>
			</div>

			var student = reader as Student;

			if (student != null)
			{
				<div class="form-group">
					<label asp-for="@student.Grade" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<input asp-for="@student.Grade" class="form-control" readonly/>
					</div>
				</div>
			}
			else
			{
				var worker = reader as Worker;

				<div class="form-group">
					<label asp-for="@worker.Position" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<input asp-for="@worker.Position" class="form-control" readonly/>
					</div>
				</div>
			}
		}
        
	    @if (book != null)
	    {
	        <div class="form-group">
	            <label asp-for="@book.Name" class="col-md-2 control-label"></label>
	            <div class="col-md-10">
	                <input asp-for="@book.Name" class="form-control" readonly/>
	            </div>
	        </div>
	        <div class="form-group">
	            <label asp-for="@book.Author" class="col-md-2 control-label"></label>
	            <div class="col-md-10">
	                <input asp-for="@book.Author" class="form-control" readonly/>
	            </div>
	        </div>
	    }
		<div class="form-group">
			<label asp-for="IssueDate" class="col-md-2 control-label"></label>*
			<div class="col-md-10">
				<input asp-for="IssueDate" class="form-control" value="@ViewBag.IssueDate"/>
				<span asp-validation-for="IssueDate" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group hidden">
			<label asp-for="AcceptanceDate" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="AcceptanceDate" class="form-control"/>
				<span asp-validation-for="AcceptanceDate" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Couse" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Couse" class="form-control"/>
				<span asp-validation-for="Couse" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Note" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Note" class="form-control"/>
				<span asp-validation-for="Note" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="ReaderSign" class="col-md-2 control-label"></label>*
			<div class="col-md-10">
				<input asp-for="ReaderSign" class="form-control"/>
				<span asp-validation-for="ReaderSign" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group hidden">
			<label asp-for="UserSign" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="UserSign" class="form-control"/>
				<span asp-validation-for="UserSign" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Додати" class="btn btn-default"/>
			</div>
		</div>
	</div>
</form>

<div>
	<a asp-action="Index" asp-route-readerId="@ViewBag.ReaderId">Назад до списку</a>
</div>

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}