@using SchoolLib.Models.Books
@using SchoolLib.Models.People
@model SchoolLib.Models.People.Issuance

@{
    ViewData["Title"] = "Видалення";
}

<h2>@ViewData["Title"]</h2>

<h3>Ви впевнені, що хочете видалити?</h3>
<div>
    <h4>@Html.DisplayNameFor(m => m)</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Reader)</dt>
        <dd>
            <a asp-controller="Readers" asp-action="Details" asp-route-id="@Model.Reader.Id">
                @Html.DisplayFor(model => model.Reader.Id)
            </a>
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Book)</dt>
        <dd>
            <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Book.Id">
                @Html.DisplayFor(model => model.Book.Id)
            </a>
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Book.Discriminator)</dt>

        @if (Model.Book.Discriminator == "StudyBook")
        {
            <dd>Підручник</dd>
            <dt>@Html.DisplayNameFor(model => (model.Book as StudyBook).Subject)</dt>
            <dd>@Html.DisplayFor(model => (model.Book as StudyBook).Subject)</dd>
        }
        else
        {
            <dd>Книга</dd>
            <dt>@Html.DisplayNameFor(model => (model.Book as AdditionalBook).Cipher)</dt>
            <dd>@Html.DisplayFor(model => (model.Book as AdditionalBook).Cipher)</dd>
        }

        <dt>@Html.DisplayNameFor(model => model.Book.Author)</dt>
        <dd>@Html.DisplayFor(model => model.Book.Author)</dd>

        <dt>@Html.DisplayNameFor(model => model.Book.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Book.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.IssueDate)</dt>
        <dd>@Html.DisplayFor(model => model.IssueDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.Couse)</dt>
        <dd>@Html.DisplayFor(model => model.Couse)</dd>

        <dt>@Html.DisplayNameFor(model => model.AcceptanceDate)</dt>
        <dd>@Html.DisplayFor(model => model.AcceptanceDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.Note)</dt>
        <dd>@Html.DisplayFor(model => model.Note)</dd>

        <dt>@Html.DisplayNameFor(model => model.ReaderSign)</dt>
        <dd>@Html.DisplayFor(model => model.ReaderSign)</dd>

        <dt>@Html.DisplayNameFor(model => model.UserSign)</dt>
        <dd>@Html.DisplayFor(model => model.UserSign)</dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default"/> |
            <a asp-action="Index">Назад до списку</a>
        </div>
    </form>
</div>