@{
    ViewData["Title"] = "Інвентаризація";
}
<h2>@ViewData["Title"]</h2>

<div class="form-horizontal row">
    <a asp-action="Create" class="col-md-12 btn btn-default">Додати до книги інвентаризаційний запис</a>
</div>
<hr />
<div class="form-horizontal row">
    <label class="col-md-12 col-md-pull-6 control-label">Кількість інвентаризаційних записів підручників у бібліотеці: @ViewBag.StudyBooksInvCount</label>
    <label class="col-md-12 col-md-pull-6 control-label">Кількість інвентаризаційних записів інших книг у бібліотеці: @ViewBag.AddBooksInvCount</label>
    <label class="col-md-12 col-md-pull-6 control-label">Кількість інвентаризаційних записів книг у бібліотеці загалом: @ViewBag.InvCount</label>
</div>
<hr />

<div class="form-horizontal row">
    <div class="col-md-4 col-md-pull-1">
        <div class="form-group">
            <label class="col-md-4 control-label">Тип</label>
            <div class="col-md-8">
                <select asp-items="ViewBag.bookTypesList" class="form-control" id="type"></select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-12">
                <input type="number" name="bookId" id="bookId" placeholder="Інвентарний №..." class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-12">
                <input type="number" name="year" id="year" placeholder="Рік..." class="form-control" />
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-12">
                <input type="number" name="actNumber" id="actNumber" placeholder="Номер акту..." class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" name="couse" id="couse" placeholder="Причина..." class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" name="note" id="note" placeholder="Примітка..." class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="form-group col-md-offset-5 col-md-7">
    <input type="submit" id="submit" name="search" value="Пошук" class="btn btn-default" />
</div>

<div id="results"></div>
<br/>
<br />
<br />
<br />

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#submit').click(function (e) {
                e.preventDefault();
                var type = encodeURIComponent($('#type').val());
                var bookId = encodeURIComponent(   $('#bookId').val());
                var actNumber = encodeURIComponent($('#actNumber').val());
                var couse = encodeURIComponent($('#couse').val());
                var note = encodeURIComponent(     $('#note').val());

                $('#results').load('@Url.Action("Search")?type=' + type + '&bookId=' + bookId + '&actNumber=' + actNumber +
                    '&couse=' + couse + '&note=' + note);
            });
        });
    </script>
}