@model StudyBook
@using SchoolLib.Models.Books

@{
    ViewData["Title"] = "Видалення підручника";
}

<h2>Видалення</h2>

<h3>Ви впевнені в тому, що бажаєте видалити цей підручник?</h3>
<div>
    <h4>Підручник</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>Інвентарний номер</dt>
        <dd>@Html.DisplayFor(model => model.InventoryNum)</dd>
        <dt>Назва</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>Автор</dt>
        <dd>@Html.DisplayFor(model => model.Author)</dd>
        <dt>Авторський шифр</dt>
        <dd>@Html.DisplayFor(model => model.AuthorCipher)</dd>
        <dt>Предмет</dt>
        <dd>@Html.DisplayFor(model => model.Subject)</dd>
        <dt>Клас</dt>
        <dd>@Html.DisplayFor(model => model.Grade)</dd>
        <dt>Рік публікації</dt>
        <dd>@Html.DisplayFor(model => model.Published)</dd>
        <dt>Ціна</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>
        <dt>Примітка</dt>
        <dd>@Html.DisplayFor(model => model.Note)</dd>
        <dt>Статус</dt>
        <dd>@(Model.Status == BookStatus.InStock ? "В наявності" : "На руках")</dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            <a asp-controller="Books" asp-action="Index">Повернутися до списку</a>
        </div>
    </form>
</div>
