@model StudyBook
@using SchoolLib.Models.Books

@{
    ViewData["Title"] = "Деталі";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model)</h4>
    <p>
        <a asp-controller="Inventories" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-default">Інвентаризація</a>
        <a asp-controller="Provenances" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-default">Походження</a>
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.InventoryNum)</dt>
        <dd>@Html.DisplayFor(model => model.InventoryNum)</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Author)</dt>
        <dd>@Html.DisplayFor(model => model.Author)</dd>

        <dt>@Html.DisplayNameFor(model => model.AuthorCipher)</dt>
        <dd>@Html.DisplayFor(model => model.AuthorCipher)</dd>

        <dt>@Html.DisplayNameFor(model => model.Subject)</dt>
        <dd>@Html.DisplayFor(model => model.Subject)</dd>

        <dt>@Html.DisplayNameFor(model => model.Grade)</dt>
        <dd>@Html.DisplayFor(model => model.Grade)</dd>

        <dt>@Html.DisplayNameFor(model => model.Published)</dt>
        <dd>@Html.DisplayFor(model => model.Published)</dd>

        <dt>@Html.DisplayNameFor(model => model.Price)</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>

        <dt>@Html.DisplayNameFor(model => model.Note)</dt>
        <dd>@Html.DisplayFor(model => model.Note)</dd>

        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>@Html.DisplayFor(model => model.Status)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a> |
    <a asp-controller="Books" asp-action="Index">Повернутися до списку</a>
</div>
