@model SchoolLib.Models.Books.Provenance

@{
    ViewData["Title"] = "Деталі";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Book)</dt>
        <dd>
            <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Book.Id">
                @Html.DisplayFor(model => model.Book.Id)
            </a>
        </dd>
        <dt>@Html.DisplayNameFor(model => model.ReceiptDate)</dt>
        <dd>@Html.DisplayFor(model => model.ReceiptDate)</dd>
        <dt>@Html.DisplayNameFor(model => model.WayBill)</dt>
        <dd>@Html.DisplayFor(model => model.WayBill)</dd>
        <dt>@Html.DisplayNameFor(model => model.Place)</dt>
        <dd>@Html.DisplayFor(model => model.Place)</dd>
        <dt>@Html.DisplayNameFor(model => model.Note)</dt>
        <dd>@Html.DisplayFor(model => model.Note)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
