@model IEnumerable<SchoolLib.Models.Books.Provenance>

@{
    ViewData["Title"] = "Походження книги";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Додати нове</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Book)</th>
            <th>@Html.DisplayNameFor(model => model.Place)</th>
            <th>@Html.DisplayNameFor(model => model.WayBill)</th>
            <th>@Html.DisplayNameFor(model => model.ReceiptDate)</th>
            <th>@Html.DisplayNameFor(model => model.Note)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Book.Id">
                    @Html.DisplayFor(modelItem => item.Book.InventoryNum)
                </a>
            </td>
            <td>@Html.DisplayFor(modelItem => item.Place)</td>
            <td>@Html.DisplayFor(modelItem => item.WayBill)</td>
            <td>@Html.DisplayFor(modelItem => item.ReceiptDate)</td>
            <td>@Html.DisplayFor(modelItem => item.Note)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
