@model SchoolLib.Models.People.Drop

@{
    ViewData["Title"] = "Видалення";
}

<h2>@ViewData["Title"]</h2>

<h3>Ви впевнені, що хочете видалити?</h3>
<div>
    <h4>@Html.DisplayNameFor(model => model)</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>@Html.DisplayNameFor(model => model.Reader)</dt>
        <dd>@Html.DisplayFor(model => model.Reader.Id)</dd>
        <dt>@Html.DisplayNameFor(model => model.Date)</dt>
        <dd>@Html.DisplayFor(model => model.Date)</dd>
        <dt>@Html.DisplayNameFor(model => model.Couse)</dt>
        <dd>@Html.DisplayFor(model => model.Couse)</dd>
        <dt>@Html.DisplayNameFor(model => model.Note)</dt>
        <dd>@Html.DisplayFor(model => model.Note)</dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            <a asp-action="Index">Назад до списку</a>
        </div>
    </form>
</div>
