@model SchoolLib.Models.People.Drop

@{
    ViewData["Title"] = "Деталі";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model)</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Reader)</dt>
        <dd>
            <a asp-controller="Readers" asp-action="Details" asp-route-id="@Model.Reader.Id">
                @Html.DisplayFor(model => model.Reader.Id)
            </a>
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Date)</dt>
        <dd>@Html.DisplayFor(model => model.Date)</dd>
        <dt>@Html.DisplayNameFor(model => model.Couse)</dt>
        <dd>@Html.DisplayFor(model => model.Couse)</dd>
        <dt>@Html.DisplayNameFor(model => model.Note)</dt>
        <dd>@Html.DisplayFor(model => model.Note)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a> |
    <a asp-action="Index">Назад до списку</a>
</div>